<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483992087005-tfhdpfdqaiqm73bo38rbl86vcqgof29a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483992087005-tfhdpfdqaiqm73bo38rbl86vcqgof29a</string>
	<key>API_KEY</key>
	<string>AIzaSyCJEL2yuZKc7mLQAKOV7H5Z3mW0qXlk8M8</string>
	<key>GCM_SENDER_ID</key>
	<string>483992087005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SAS.covidTracing</string>
	<key>PROJECT_ID</key>
	<string>covidtracing-cd24a</string>
	<key>STORAGE_BUCKET</key>
	<string>covidtracing-cd24a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483992087005:ios:9903215d51be798521ee34</string>
	<key>DATABASE_URL</key>
	<string>https://covidtracing-cd24a.firebaseio.com</string>
</dict>
</plist>